<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-WebSiteJan2017-e42f9e68-931f-4776-875f-9ed7594b03bc;AttachDbFilename=|DataDirectory|\aspnet-WebSiteJan2017-e42f9e68-931f-4776-875f-9ed7594b03bc.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="ChinookDB"
       connectionString="Data Source = .; Initial Catalog = Chinook; Intergrated Security = true"
       providerName ="System.Data.SqlClient"/>
</connectionStrings>